<footer>
        <div class="footer">
            <div class="footer-left">
                <div class="footer-head">
                    <img src="../../assets/image/header/Logo.png" alt="" class="footer-img">
                    <p class="footer-title">mangcoding Store</p>
                </div>
                <div class="footer-description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis, justo nec porttitor auctor, erat sapien faucibus lectus, vel tempor dolor augue et lectus.
                    </p>
                </div>
                <div class="footer-login-btn">
                    <div class="footer-login">
                        <button class="btn footer-btn">Login Now</button>
                    </div>
                </div>
            </div>
            <div class="footer-mid">
                <div class="footer-option">Home
                    <ul>
                        <li>Product</li>
                        <li>Categories</li>
                        <li>Shop</li>
                        <li>Log in</li>
                    </ul>
                </div>
                <div class="footer-option">Shop
                    <ul>
                        <li>T-Shirt</li>
                        <li>Jacket</li>
                        <li>Shirt</li>
                        <li>Jens</li>
                    </ul>
                </div>
                <div class="footer-option">Categories
                    <ul>
                        <li>Men</li>
                        <li>Children</li>
                        <li>Woman</li>
                    </ul>
                </div>
                <div class="footer-right">
                    <span class="footer-contact">Contact</span>
                    <p>mangcoding@gmail.com</p>
                    <div class="footer-social">
                        <img src="../../../assets/image/footer/social/facebook.png" alt="" class="social-img">
                        <img src="../../../assets/image/footer/social/twetter.png" alt="" class="social-img">
                        <img src="../../../assets/image/footer/social/linkedin.png" alt="" class="social-img">
                        <img src="../../../assets/image/footer/social/instagram.png" alt="" class="social-img">
                    </div>
                </div>
            </div>
            
        </div>
</footer>
