<header>
<div class="header-logo">
    <div class="header-right">
        <img src="../../assets/image/header/Logo.png" alt="" class="header-img">
        <p class="header-title">mangcoding Store</p>
    </div>
    <div class="header-left">
        <span class="option">Home</span>
        <span class="option">Shop</span>
        <span class="option Us">About Us</span>
        <span class="option">Contact</span>
        <div class="header-icon">
            <img src="../../../assets/image/header/icon/Frame 5.png" alt="" class="cart icon-img">
            <div class="favorite">
                <img src="../../../assets/image/header/icon/39.png" alt="" class=" icon-img">
                <div class="favorite-notification">
                    <span>3</span>
                </div>
            </div>
            <img src="../../../assets/image/header/icon/Frame 5 (1).png" alt="" class="user icon-img">
        </div>
        <div class="header-search">
            <input type="text" placeholder="Search">
            <img src="../../../assets/image/header/icon/Frame 6.png" alt="" class="img-search">
        </div>
    </div>
</div>
    
</header>
