<app-header></app-header>
<div class="home">
    <div class="content">
        <div class="heading">
            <div class="heading-title">
                <h1>Get the Latest Dress Models From Us</h1>
            </div>
            <p class="heading-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget gravida leo, nec iaculis diam. Nam bibendum mi sed sem finibus ullamcorper.</p>
            <div class="footer-login-btn">
                <div class="footer-login">
                    <button class="btn footer-btn">Shop Now</button>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="banner-left">
                <h3 class="banner-title">More list</h3>
                <img src="../../../assets/image/home/banner/Group 2006.png" alt="" class="banner-img">
                <img src="../../../assets/image/home/banner/Group 2005.png" alt="" class="banner-img">
            </div>
            <div class="banner-mid">
                <img src="../../../assets/image/home/banner/Group 1926.png" alt="" class="mid-icon">
            </div>
            <div class="banner-right">
                <img src="../../../assets/image/home/banner/Group 2007.png" alt="" class="banner-third">
            </div>
        </div>
    </div>
    <div class="companion">
        <img src="../../../assets/image/home/companion/1.png" alt="" class="companion-img">
        <img src="../../../assets/image/home/companion/2.png" alt="" class="companion-img">
        <img src="../../../assets/image/home/companion/3.png" alt="" class="companion-img">
        <img src="../../../assets/image/home/companion/4.png" alt="" class="companion-img">
        <img src="../../../assets/image/home/companion/5.png" alt="" class="companion-img">
    </div>
    <div class="categories">
        <div class="left">
            <p class="categories-heading">CHOOSE YOUR CATEGORY</p>
            <h1 class="categories-title">Categories Style</h1>
            <p class="categories-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget gravida leo, nec iaculis diam. Nam bibendum mi sed sem finibus ullamcorper.</p>
        </div>
        <div class="right">
            <div class="right-content">
                <img src="../../../assets/image/home/categori/unsplash_xPJYL0l5Ii8.png" alt="" class="categories-image1">
                <div class="categories-slider">
                    <img src="../../../assets/image/home/categori/Rectangle 171.png" alt="" class="back">
                    <img src="../../../assets/image/home/categori/Group 1824.png" alt="" class="name-product">
                    <img src="../../../assets/image/home/categori/Rectangle 171.png" alt="" class="next">
                </div>
            </div>
            <img src="../../../assets/image/home/categori/Group 1856 (1).png" alt="" class="categories-image2">
        </div>
    </div>
    <div class="product">
        <div class="product-heading">
            <p>CHOOSE FROM THE BEST PRODUCTS</p>
        </div>
        <div class="product-title">
            <h1>Our Best Seller Product</h1>
        </div>
        <div class="product-list">
            <span class="item active">T-Shirt</span>
            <span class="item">Jacket</span>
            <span class="item">Shirt</span>
            <span class="item">Jens</span>
        </div>
        <div class="product-item">
         <div class="grid wide mg-product">
             <div class="row">
                 <div class="col l-3 ">
                    <div class="product-content">
                        <div class="product-image">
                            <img src="../../../assets/image/home/product/unsplash_JskqEILt-ds.png" alt="" class="product-img">
                            <img src="../../../assets/image/home/product/Group 2019.png" alt="" class="product-img2">
                        </div>
                        <div class="product-info bsd">
                            <div class="product-heading">
                                <h5 class="product-h5">Smart T-shirt</h5>
                                <h5 class="product-h5">40$</h5>
                            </div>
                            <div class="product-quality">
                                <p>Best quality</p>
                            </div>
                            <div class="product-rate">
                                <img src="../../../assets/image/home/product/Group 1828.png" alt="" class="rate img">
                                <span>(1k)</span>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="col l-3">
                    <div class="product-content">
                        <div class="product-image">
                            <img src="../../../assets/image/home/product/unsplash_JskqEILt-ds.png" alt="" class="product-img">
                            <!-- <img src="../../../assets/image/home/product/Group 2019.png" alt="" class="product-img2"> -->
                        </div>
                        <div class="product-info bsd">
                            <div class="product-heading">
                                <h5 class="product-h5">Smart T-shirt</h5>
                                <h5 class="product-h5">40$</h5>
                            </div>
                            <div class="product-quality">
                                <p>Best quality</p>
                            </div>
                            <div class="product-rate">
                                <img src="../../../assets/image/home/product/Group 1828.png" alt="" class="rate img">
                                <span>(1k)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-3">
                    <div class="product-content">
                        <div class="product-image">
                            <img src="../../../assets/image/home/product/unsplash_JskqEILt-ds.png" alt="" class="product-img">
                            <!-- <img src="../../../assets/image/home/product/Group 2019.png" alt="" class="product-img2"> -->
                        </div>
                        <div class="product-info bsd">
                            <div class="product-heading">
                                <h5 class="product-h5">Smart T-shirt</h5>
                                <h5 class="product-h5">40$</h5>
                            </div>
                            <div class="product-quality">
                                <p>Best quality</p>
                            </div>
                            <div class="product-rate">
                                <img src="../../../assets/image/home/product/Group 1828.png" alt="" class="rate img">
                                <span>(1k)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-3">
                    <div class="product-content">
                        <div class="product-image">
                            <img src="../../../assets/image/home/product/unsplash_JskqEILt-ds.png" alt="" class="product-img">
                            <!-- <img src="../../../assets/image/home/product/Group 2019.png" alt="" class="product-img2"> -->
                        </div>
                        <div class="product-info bsd">
                            <div class="product-heading">
                                <h5 class="product-h5">Smart T-shirt</h5>
                                <h5 class="product-h5">40$</h5>
                            </div>
                            <div class="product-quality">
                                <p>Best quality</p>
                            </div>
                            <div class="product-rate">
                                <img src="../../../assets/image/home/product/Group 1828.png" alt="" class="rate img">
                                <span>(1k)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-3">
                    <div class="product-content">
                        <div class="product-image">
                            <img src="../../../assets/image/home/product/unsplash_JskqEILt-ds.png" alt="" class="product-img">
                            <!-- <img src="../../../assets/image/home/product/Group 2019.png" alt="" class="product-img2"> -->
                        </div>
                        <div class="product-info bsd">
                            <div class="product-heading">
                                <h5 class="product-h5">Smart T-shirt</h5>
                                <h5 class="product-h5">40$</h5>
                            </div>
                            <div class="product-quality">
                                <p>Best quality</p>
                            </div>
                            <div class="product-rate">
                                <img src="../../../assets/image/home/product/Group 1828.png" alt="" class="rate img">
                                <span>(1k)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-3">
                    <div class="product-content">
                        <div class="product-image">
                            <img src="../../../assets/image/home/product/unsplash_JskqEILt-ds.png" alt="" class="product-img">
                            <!-- <img src="../../../assets/image/home/product/Group 2019.png" alt="" class="product-img2"> -->
                        </div>
                        <div class="product-info bsd">
                            <div class="product-heading">
                                <h5 class="product-h5">Smart T-shirt</h5>
                                <h5 class="product-h5">40$</h5>
                            </div>
                            <div class="product-quality">
                                <p>Best quality</p>
                            </div>
                            <div class="product-rate">
                                <img src="../../../assets/image/home/product/Group 1828.png" alt="" class="rate img">
                                <span>(1k)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-3">
                    <div class="product-content">
                        <div class="product-image">
                            <img src="../../../assets/image/home/product/unsplash_JskqEILt-ds.png" alt="" class="product-img">
                            <!-- <img src="../../../assets/image/home/product/Group 2019.png" alt="" class="product-img2"> -->
                        </div>
                        <div class="product-info bsd">
                            <div class="product-heading">
                                <h5 class="product-h5">Smart T-shirt</h5>
                                <h5 class="product-h5">40$</h5>
                            </div>
                            <div class="product-quality">
                                <p>Best quality</p>
                            </div>
                            <div class="product-rate">
                                <img src="../../../assets/image/home/product/Group 1828.png" alt="" class="rate img">
                                <span>(1k)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-3">
                    <div class="product-content">
                        <div class="product-image">
                            <img src="../../../assets/image/home/product/unsplash_JskqEILt-ds.png" alt="" class="product-img">
                            <!-- <img src="../../../assets/image/home/product/Group 2019.png" alt="" class="product-img2"> -->
                        </div>
                        <div class="product-info bsd">
                            <div class="product-heading">
                                <h5 class="product-h5">Smart T-shirt</h5>
                                <h5 class="product-h5">40$</h5>
                            </div>
                            <div class="product-quality">
                                <p>Best quality</p>
                            </div>
                            <div class="product-rate">
                                <img src="../../../assets/image/home/product/Group 1828.png" alt="" class="rate img">
                                <span>(1k)</span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
         </div>
        </div>
        <div class="Oblongers">
            <div class="Oblongers-content">
                <div class="Oblongers-left">
                    <img src="../../../assets/image/home/Oblongers/Group 2008.png" alt="" class="Oblongers1">
                    <img src="../../../assets/image/home/Oblongers/Group 2016.png" alt="" class="Oblongers2">
                    <img src="../../../assets/image/home/Oblongers/Group 1931.png" alt="" class="Oblongers3">
                </div>
                <div class="Oblongers-right">
                    <div class="Oblongers-heading">
                        <h1>The Oblongers T-Shirt</h1>
                    </div>
                    <div class="Oblongers-color">
                        <div class="color">
                            <img src="../../../assets/image/home/Oblongers/Group 118.png" alt="" class="color-title">
                        </div>
                        <div class="rate">
                            <img src="../../../assets/image/home/product/Group 1828.png" alt="" class="rate">
                        </div>
                    </div>
                    <div class="Oblongers-size">
                        <img src="../../../assets/image/home/Oblongers/Group 91 (2).png" alt="" class="size">
                        <h1>50$</h1>
                    </div>
                    <div class="Oblongers-description">
                        <p class="Oblongers-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis, justo nec porttitor auctor, erat sapien faucibus lectus, vel tempor dolor augue et lectus. Proin et lacus blandit quam semper placerat. </p>
                    </div>
                    <div _ngcontent-blv-c18="" class="footer-login-btn"><div _ngcontent-blv-c18="" class="footer-login"><button _ngcontent-blv-c18="" class="btn footer-btn">Oder Now</button></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="Testimonials">
        <div class="Testimonials-heading">
            <h1>Testimonials</h1>
        </div>
        <div class="Testimonials-top">
            <div class="card">
                <div class="card-avatar">
                    <img src="../../../assets/image/home/Testimonials/unsplash_B4TjXnI0Y2c.png" alt="" class="avatar">
                    <div class="card-name">
                        <h3>Friskidia</h3>
                        <span>Client</span>
                    </div>   
                </div>
                <div class="rate">
                    <img _ngcontent-mml-c18="" src="../../../assets/image/home/product/Group 1828.png" alt="" class="rate">
                </div>
                <div class="Testimonials-description">
                    <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum dapibus luctus. ”</p>
                </div>
            </div>
            <div class="card">
                <div class="card-avatar">
                    <img src="../../../assets/image/home/Testimonials/unsplash_B4TjXnI0Y2c.png" alt="" class="avatar">
                    <div class="card-name">
                        <h3>Friskidia</h3>
                        <span>Client</span>
                    </div>   
                </div>
                <div class="rate">
                    <img _ngcontent-mml-c18="" src="../../../assets/image/home/product/Group 1828.png" alt="" class="rate">
                </div>
                <div class="Testimonials-description">
                    <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum dapibus luctus. ”</p>
                </div>
            </div>
        </div>
        <div class="Testimonials-bottom">
            <div class="Testimonials-heading2">
                <h1 class="Testimonials-title">Look For Models Now</h1>
                <p class="Testimonials-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget gravida leo, nec iaculis diam. Nam bibendum mi sed sem finibus ullamcorper.
                </p>
            </div>
            <div class="Testimonials-banner">
                <img src="../../../assets/image/home/Testimonials/unsplash_tvG4WvjgsEY.png" alt="" class="banner-img">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
