@use "../../../assets/scss/index.scss" as*;
.home{
    .content{
        background-image: linear-gradient(180deg, #7D89FF, #AB40FF);
        padding: 79px 117px 61px 122px;
        display: flex;
        gap: 39px;
        .heading{
            width: 508px;
            padding-top: 83px;
            .heading-title {
                h1{
                    font-size: 40px;
                    color: #fff;
                    text-shadow: 2px 7px 5px rgba(0,0,0,0.3)
                }
            }
            .heading-description{
                color: #DDDDDD;
                letter-spacing: 1.3px;
                font-size: 17px;
                font-weight: 300;
                line-height: 30px;
                }
                .footer-login{
                    background-color: #fff;
                    width: 180px;
                    .btn{
                        border: none;
                        font-size: 18px;
                        font-weight: 700;
                        padding: 10.5px 42.5px;
                        cursor: pointer;
                    }
                    .footer-btn{
                        background: -webkit-linear-gradient(#7D89FF, #AB40FF);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
        }
        .banner{
            display: flex;
            .banner-left{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;
                .banner-title{
                    color: #fff;
                    margin: 0;
                }
            }
            .banner-mid {
                display: flex;
                align-items: center;
                margin: 0 44px 0 24px;
                position: relative;
                img.mid-icon {
                    object-fit: contain;
                    position: absolute;
                    top: 120px;
                }
            }
        }
    }
    .companion{
        background-color: #f4f4f4;
        display: flex;
        padding: 15px 0;
        gap:40px;
        align-items: center;
        justify-content: center;
    }
    .categories{
        display: flex;
        padding: 84px 0 0 0px;
        gap:230px;
        justify-content: flex-end;
        .left{
            width: 508px;
            .categories-heading{
                color: #5463FF;
                font-size: 17px;
            }
            .categories-description
            {
                color: #646464;
                letter-spacing: 1.3px;
                font-size: 17px;
                font-weight: 300;
                line-height: 30px;
            }
            .categories-title {
                font-size: 35px;
            }
        }
        .right{
            display: flex;  
            gap:24px;
            .right-content{
                position: relative;
                &::after{
                    content: "";
                    background-image:url("../../../assets/image/home/categori/Group\ 1929\ \(1\).png");
                    position: absolute;
                    top: 111px;
                    left: -13px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    background-repeat: no-repeat;
                }
                
                &::before{
                    content: "";
                    background-image:url("../../../assets/image/home/categori/Group\ 1930.png");
                    position: absolute;
                    top: 110px;
                    right: -20px;
                    z-index: 2;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    background-repeat: no-repeat;
                }
                
            }
            .categories-image2 {
                object-fit: contain;
            }
            .categories-slider{
                .back {
                    position: absolute;
                    top: 103px;
                    left: -20px;
                }.name-product{
                    position:absolute;
                    top: 16px;
                    right: 16px;
                }.next {
                    position: absolute;
                    top: 103px;
                    right: -20px;
                }
            }
        }
        
    }
    .product{
        margin-top: 80px;
        .product-heading{
            color: #5463FF;
            font-size: 17px;
            p{
                text-align: center;
            }
        }.product-title{
            font-size: 20px;
            text-align: center;
        }.product-list{
            display: flex;
            gap:40px;
            align-items: center;
            justify-content: center;
            margin-bottom: 46px;
            
            .item{
                transition: all .4s linear;
                &:hover{
                     color: #5463FF;
                    border-bottom: 1px solid #5463FF;
                } 
                font-size: 18px;
                font-weight: 300;
            }
            .active{
                font-weight: 500;
                color: #5463FF;
                border-bottom: 2px solid #5463FF;
            }
        } .product-item{
            padding-bottom:80px;
            .grid{
                .row{
                    .col{
                        .product-content{
                            .product-image{
                                position:relative;
                                .product-img{
                                    width:100%;
                                }
                                .product-img2{
                                    position:absolute;
                                    bottom:0;   
                                    left:0;
                                    width:100%;
                                }
                            } 
                            .product-info{
                                .product-heading{
                                    display:flex;
                                    justify-content: space-between;
                                    padding:16px;
                                    color:#000;
                                }
                                .product-quality{
                                    color:#969696;
                                    padding-bottom:13px;
                                    padding-left:16px;
                                }
                                .product-rate{
                                    padding-left:16px;
                                    padding-bottom:24px;
                                    color:#969696;
                                    display:flex;
                                    gap:6px;
                                    align-items:center;
                                    span{
                                        font-size:13px;
                                    }
                                }
                            }
                            .bsd{
                                background-color:#fff;
                                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                            }
                        }
                    }
                    
                }
            }
            .mg-product{
                // padding:0 46px;
                
            }
        }
    }
    .Oblongers{
        background-image: linear-gradient(180deg, #7D89FF, #AB40FF);
        padding: 80px 0;
        overflow: hidden;
        .Oblongers-content{
            display: flex;
            gap: 300px;
            .Oblongers-left{
                position: relative;
                .Oblongers1{
                    margin-bottom: 20px;
                }
                .Oblongers2{
                    padding-left: 134px;
                 
                }
                .Oblongers3{
                    position:absolute;
                    top: 50%;
                    right: -14%;
                }
            }
            .Oblongers-right{
                .Oblongers-heading{}
                .Oblongers-color{
                    display: flex;
                    justify-content: space-between;
                    .color-title & .rate{
                        object-fit: contain;
                    }
                }
                .Oblongers-size{
                    display: flex;
                    justify-content: space-between;
                    .size{
                        object-fit: contain;
                    }
                    h1{
                        color: #fff;
                    }
                }
                .Oblongers-description{
                    width: 500px;
                    padding-bottom: 40px;
                    .Oblongers-p{
                        color: #dddddd;
                        font-weight: 300;
                        line-height: 28px;
                    }
                    
                }
                .footer-login{
                    background-color: #fff;
                    width: 180px;
                   
                    .btn{
                        border: none;
                        font-size: 18px;
                        font-weight: 700;
                        padding: 10.5px 42.5px;
                        cursor: pointer;
                    }
                    .footer-btn{
                        background: -webkit-linear-gradient(#7D89FF, #AB40FF);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                 
                }
            }
        }
        
    }
    .Testimonials{
        padding: 0 120px;
        .Testimonials-heading{
            text-align: center;
            margin-bottom: 40px;
        }
        .Testimonials-top{
            display: flex;
            gap:24px;
            margin-bottom: 80px;
            .card{
                position: relative;
                width: 588px;
                padding:40px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                &::after{
                    width: 0;
                    height: 0;
                    border-top: 78px solid #F4F4F4;
                    border-left: 78px solid transparent;
                    position: absolute;
                    content: '';
                    top: 0;
                    right: 0;
                }
                .card-avatar{
                    display: flex;
                    gap:16px;   
                    margin-bottom: 24px;
                    h3{
                        padding-bottom: 9px;
                    }
                    span{
                        display: block;
                        color:#969696;
                    }
                }
                .Testimonials-description {
                    margin-top: 20px;
                }
               }
            }
            .Testimonials-bottom{
                display: flex;
                gap: 95px;
                padding-bottom: 84px;
                .Testimonials-heading2 {
                    width: 513px;
                    p.Testimonials-description {
                        width: 408PX;
                        line-height: 28px;
                        color: #646464;
                    }
                }
            }
        }
    }
